@model UserManager.DAL.Entities.UserInfo

<div class="text-center">

    @if (Model == null)
    {
        <h3>Пользователь с ID:@ViewBag.Id не найден</h3>
    }
    else
    {
        <h3>User info</h3>
        <p>ID: @Model.ID</p>
        <p>Name: @Model.Name</p>
        <p>Status: @Model.Status</p>
    }

</div>